* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog {
  color: black;
}

.blog .container {
  width: 100%;
  background-color: #f7f7f7;
  padding: 5rem 9rem;
}

.blog .container .title {
  text-align: center;
  margin: 2rem 0;
}

.blog .container .title p {
  color: #ff6600;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
}

.blog .container .title h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.blog .container .row {
  display: flex;
  flex-direction: row;
}

.blog .container .row .left-posts {
  padding: 0 2rem;
  width: 65%;
}

.blog .container .row .left-posts .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 50vw);
  gap: 2rem;
}

.blog .container .row .left-posts .list .item {
  margin-bottom: 5rem;
  width: 100%;
  height: 100%;
}

.blog .container .row .left-posts .list .item .img {
  position: relative;
  height: 70%;
  width: 100%;
}

.blog .container .row .left-posts .list .item .img img {
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
}

.blog .container .row .left-posts .list .item .img .info-img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.blog .container .row .left-posts .list .item .img .info-img button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem;
  background-color: #ff6600;
}

.blog .container .row .left-posts .list .item .img .info-img span {
  color: white;
}

.blog .container .row .left-posts .list .item .content h3 {
  margin: 1rem 0;
  font-size: 1.7rem;
  font-weight: 500;
}

.blog .container .row .left-posts .list .item .content p {
  font-size: 1.2rem;
  font-weight: 300;
}

.blog .container .row .left-posts .list .item .author {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog .container .row .left-posts .list .item .author a {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog .container .row .left-posts .list .item .author .author-info {
  margin-right: 1rem;
}

.blog .container .row .left-posts .list .item .author .author-info span {
  font-size: 1.2rem;
}

.blog .container .row .left-posts .list .item .author .author-info img {
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.blog .container .row .left-posts .list .item .author a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog .container .row .left-posts .control-btn {
  width: 60%;
  margin-top: 2rem;
}

.blog .container .row .left-posts .control-btn ul {
  width: 100%;
  margin: 0 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blog .container .row .left-posts .control-btn ul li {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
}

.blog .container .row .left-posts .control-btn ul li .item {
  background-color: #f7f7f7;
  padding: 0.6rem 1rem;
  color: #000000;
  border-radius: 0.5rem;
  border: 1px solid #ededed;
}

.blog .container .row .left-posts .control-btn ul li .active {
  cursor: default;
  background-color: #ff6600;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 0.5rem;
}

.blog .container .row .left-posts .control-btn ul li:hover .item {
  transition: all 0.3s;
  color: #ff6600;
  background-color: white;
  border: 1px solid #ff6600;
}

.blog .container .row .right-posts {
  padding: 0 2rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog .container .row .right-posts .post {
  background-color: white;
  margin-bottom: 2rem;
  padding: 2.5rem 2rem;
  border-radius: 0.6rem;
}

.blog .container .row .right-posts .latest-recipes h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.blog .container .row .right-posts .latest-recipes .list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.blog .container .row .right-posts .latest-recipes .list .item {
  display: flex;
  flex-direction: column;
}

.blog .container .row .right-posts .latest-recipes .list .item img {
  width: 100%;
  border-radius: 1rem;
}

.blog .container .row .right-posts .latest-recipes .list .item span {
  font-weight: 600;
  font-size: 1.2rem;
}

.blog .container .row .right-posts .trending-posts h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.blog .container .row .right-posts .trending-posts .list {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 8vw);
  gap: 2rem;
}

.blog .container .row .right-posts .trending-posts .list .item {
  display: flex;
  flex-direction: row;
}

.blog .container .row .right-posts .trending-posts .list .item img {
  width: 60%;
  height: 100%;
  border-radius: 1rem;
}

.blog .container .row .right-posts .trending-posts .list .item .info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog .container .row .right-posts .trending-posts .list .item .info p {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.blog .container .row .right-posts .trending-posts .list .item .info span {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.blog .container .row .right-posts .categories h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.blog .container .row .right-posts .categories li {
  color: #858585;
  list-style-type: square;
}

.blog .container .row .right-posts .categories li a {
  font-size: 1.3rem;
  line-height: 200%;
  text-decoration: none;
  color: #858585;
}

.blog .container .row .right-posts .categories li:hover a {
  color: #ff6600;
  transition: all 0.3s;
}

.blog .container .row .right-posts .categories li:hover {
  color: black;
  transition: all 0.3s;
}

.blog .container .row .right-posts .advertisement h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.blog .container .row .right-posts .advertisement img {
  width: 100%;
  border-radius: 1rem;
}
/*# sourceMappingURL=blog.css.map */