@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  font-size: 16px;
}

section {
  display: block;
}

.title-subhny {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 75rem;
  }
}

@media screen and (min-width: 992px) {
  .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .px-lg-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .py-lg-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 2rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media screen and (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 576px) {
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.text-left {
  text-align: left !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.align-self {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #161c2db3;
  font-family: "Quicksand", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: "Quicksand", sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.title h2 {
  color: #ff6600;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Pacifico", cursive;
}

.title span {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.my-btn {
  padding: 0.8rem 2.5rem;
  background-color: #ff6600;
  color: white;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.my-btn:hover {
  background-color: #ffcc00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#blog {
  color: black;
}

#blog .blog-container {
  width: 100%;
  background-color: #f7f7f7;
  padding: 5rem 10rem;
}

#blog .blog-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#blog .blog-container .row .left-posts {
  padding: 0 2rem;
  width: 65%;
}

#blog .blog-container .row .left-posts .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 45vw);
  gap: 2rem;
}

#blog .blog-container .row .left-posts .list .item {
  margin-bottom: 5rem;
  width: 100%;
  height: 100%;
}

#blog .blog-container .row .left-posts .list .item .img {
  position: relative;
  height: 30vw;
  width: 100%;
}

#blog .blog-container .row .left-posts .list .item .img img {
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
}

#blog .blog-container .row .left-posts .list .item .img .info-img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

#blog .blog-container .row .left-posts .list .item .img .info-img button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem;
  background-color: #ff6600;
}

#blog .blog-container .row .left-posts .list .item .img .info-img span {
  color: white;
}

#blog .blog-container .row .left-posts .list .item .content h3 {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#blog .blog-container .row .left-posts .list .item .content p {
  font-size: 1.1rem;
  font-weight: 500;
}

#blog .blog-container .row .left-posts .list .item .author {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#blog .blog-container .row .left-posts .list .item .author a {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#blog .blog-container .row .left-posts .list .item .author .author-info {
  margin-right: 1rem;
}

#blog .blog-container .row .left-posts .list .item .author .author-info span {
  font-size: 1rem;
}

#blog .blog-container .row .left-posts .list .item .author .author-info img {
  width: 2.3rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

#blog .blog-container .row .left-posts .list .item .author a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

#blog .blog-container .row .left-posts .control-btn {
  width: 60%;
  margin-top: 2rem;
}

#blog .blog-container .row .left-posts .control-btn ul {
  width: 100%;
  margin: 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#blog .blog-container .row .left-posts .control-btn ul li {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
}

#blog .blog-container .row .left-posts .control-btn ul li .item {
  background-color: #f7f7f7;
  padding: 0.6rem 1rem;
  color: #000000;
  border-radius: 0.5rem;
  border: 1px solid #f7f7f7;
}

#blog .blog-container .row .left-posts .control-btn ul li .active {
  cursor: default;
  background-color: #ff6600;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 0.5rem;
}

#blog .blog-container .row .left-posts .control-btn ul li:hover .item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff6600;
  background-color: white;
  border: 1px solid #ff6600;
}

#blog .blog-container .row .right-posts {
  padding: 0 2rem;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#blog .blog-container .row .right-posts .post {
  background-color: white;
  margin-bottom: 2rem;
  padding: 2.5rem 2rem;
  border-radius: 0.6rem;
}

#blog .blog-container .row .right-posts .latest-recipes h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

#blog .blog-container .row .right-posts .latest-recipes .list {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#blog .blog-container .row .right-posts .latest-recipes .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#blog .blog-container .row .right-posts .latest-recipes .list .item img {
  width: 100%;
  border-radius: 1rem;
}

#blog .blog-container .row .right-posts .latest-recipes .list .item span {
  font-weight: 600;
  font-size: 1.2rem;
}

#blog .blog-container .row .right-posts .trending-posts h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

#blog .blog-container .row .right-posts .trending-posts .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 8vw);
  gap: 2rem;
}

#blog .blog-container .row .right-posts .trending-posts .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#blog .blog-container .row .right-posts .trending-posts .list .item img {
  width: 60%;
  height: 100%;
  border-radius: 1rem;
}

#blog .blog-container .row .right-posts .trending-posts .list .item .info {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#blog .blog-container .row .right-posts .trending-posts .list .item .info p {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

#blog .blog-container .row .right-posts .trending-posts .list .item .info span {
  margin: 0.8rem 0;
  font-size: 1.1rem;
  font-weight: 300;
}

#blog .blog-container .row .right-posts .categories h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

#blog .blog-container .row .right-posts .categories li {
  color: #858585;
  list-style-type: square;
}

#blog .blog-container .row .right-posts .categories li a {
  font-size: 1.3rem;
  line-height: 200%;
  text-decoration: none;
  color: #858585;
}

#blog .blog-container .row .right-posts .categories li:hover a {
  color: #ff6600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#blog .blog-container .row .right-posts .categories li:hover {
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#blog .blog-container .row .right-posts .advertisement h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

#blog .blog-container .row .right-posts .advertisement img {
  width: 100%;
  border-radius: 1rem;
}
<<<<<<< HEAD

@media screen and (max-width: 576px) {
  #blog .blog-container {
    padding: 4rem 1rem;
  }
  #blog .blog-container .row .right-posts {
    padding: 2rem;
  }
  #blog .blog-container .row .right-posts .post {
    padding: 1rem;
  }
  #blog .blog-container .row .right-posts .latest-recipes .list .item span {
    font-size: 1rem;
  }
  #blog .blog-container .row .right-posts .trending-posts h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  #blog .blog-container .row .right-posts .trending-posts .list {
    grid-template-rows: repeat(3, 50vw);
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item .info p {
    font-size: 1rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item .info span {
    font-size: 1rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list {
    grid-template-rows: repeat(3, 50vw);
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item .info p {
    font-size: 1rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item .info span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #blog .blog-container {
    padding: 4rem 2rem;
  }
  #blog .blog-container .row .left-posts {
    width: 100%;
  }
  #blog .blog-container .row .left-posts .list {
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }
  #blog .blog-container .row .left-posts .list .item {
    height: 85vw;
  }
  #blog .blog-container .row .left-posts .list .item .img {
    height: 70vw;
  }
  #blog .blog-container .row .left-posts .list .item .img img {
    height: 100%;
  }
  #blog .blog-container .row .right-posts {
    width: 100%;
    padding: 2rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list {
    grid-template-rows: repeat(3, 50vw);
  }
}

@media screen and (max-width: 992px) {
  #blog .blog-container {
    padding: 5rem 5rem;
  }
  #blog .blog-container .row {
    flex-direction: column;
    align-items: center;
  }
  #blog .blog-container .row .left-posts {
    padding: 0;
    width: 100%;
  }
  #blog .blog-container .row .left-posts .list {
    grid-template-rows: repeat(3, 50vw);
  }
  #blog .blog-container .row .right-posts {
    width: 100%;
    padding: 2rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list {
    display: flex;
    flex-direction: column;
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item {
    height: 20vw;
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item img {
    height: 100%;
    width: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #blog .blog-container {
    padding: 5rem 10rem;
  }
  #blog .blog-container .row .left-posts .list {
    grid-template-rows: repeat(3, 60vw);
  }
  #blog .blog-container .row .left-posts .list .img img {
    height: 40vw;
  }
  #blog .blog-container .row .left-posts .list .img span {
    font-size: 0.7rem;
    margin-left: -1rem;
  }
  #blog .blog-container .row .right-posts {
    padding: 2rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list {
    grid-template-rows: repeat(3, 10vw);
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item img {
    width: 30%;
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item .info p {
    font-size: 1rem;
  }
  #blog .blog-container .row .right-posts .trending-posts .list .item .info span {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=blog.css.map */
=======
/*# sourceMappingURL=blog.css.map */
>>>>>>> 9368484bff54e12a3c628c9efac3f69fee6211fa
