@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.title h2 {
  color: #ff6600;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Pacifico', cursive;
}

.title span {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
}

.my-btn {
  padding: 0.8rem 2.5rem;
  background-color: #ff6600;
  color: white;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.my-btn:hover {
  background-color: #ffcc00;
  transition: all 0.4s;
}

#contact-us .contact-us-container {
  padding: 5rem 10rem;
  text-align: center;
}

#contact-us .contact-us-container .content {
  font-size: 1.3rem;
}

#contact-us .contact-us-container .content p {
  font-weight: 300;
  margin: 2rem 0;
}

#contact-us .contact-us-container .content .info-input {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#contact-us .contact-us-container .content .info-input input {
  height: 4rem;
  font-size: 1rem;
}

#contact-us .contact-us-container .content input {
  border-radius: 0.6rem;
  background-color: #f7f7f7;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
}

#contact-us .contact-us-container .content .message-input {
  margin-top: 1rem;
}

#contact-us .contact-us-container .content .message-input input {
  height: 10rem;
  width: 100%;
}

#contact-us .contact-us-container button {
  position: absolute;
  right: 10rem;
  margin-top: 1rem;
}

@media screen and (max-width: 576px) {
  #contact-us .contact-us-container {
    padding: 4rem 1rem;
  }
  #contact-us .contact-us-container .content .info-input {
    grid-template-columns: repeat(1, 1fr);
  }
  #contact-us .contact-us-container button {
    position: absolute;
    right: 10rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #contact-us .contact-us-container {
    padding: 4rem 2rem;
  }
  #contact-us .contact-us-container .content .info-input {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 992px) {
  #contact-us .contact-us-container {
    padding: 5rem 5rem;
  }
}

#find-us .find-us-container {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
}

#find-us .find-us-container .title {
  text-align: left;
}

#find-us .find-us-container .content {
  width: 30%;
}

#find-us .find-us-container .content .info {
  margin-top: 2rem;
  padding-right: 2rem;
}

#find-us .find-us-container .content .info .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0;
}

#find-us .find-us-container .content .info .item i {
  color: #ff6600;
  font-size: 1.5rem;
}

#find-us .find-us-container .content .info .item .detail {
  margin-left: 1rem;
}

#find-us .find-us-container .content .info .item .detail span {
  font-size: 1.2rem;
  font-weight: 400;
}

#find-us .find-us-container .content .info .item .detail p {
  font-size: 1.1rem;
  font-weight: 400;
}

#find-us .find-us-container .content .info .item .detail p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#find-us .find-us-container .map {
  width: 70%;
  height: 100%;
  border: 0.7rem solid #f7f7f7;
}

#find-us .find-us-container .map iframe {
  width: 100%;
  height: 25vw;
}

@media screen and (max-width: 576px) {
  #find-us .find-us-container {
    padding: 4rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  #find-us .find-us-container {
    padding: 4rem 2rem;
    display: block;
  }
  #find-us .find-us-container .content {
    width: 100%;
  }
  #find-us .find-us-container .map {
    width: 100%;
    height: 65vw;
    border: 0.1rem solid #f7f7f7;
  }
  #find-us .find-us-container .map iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  #find-us .find-us-container {
    padding: 4rem 1rem;
    display: block;
  }
  #find-us .find-us-container .content {
    width: 100%;
  }
  #find-us .find-us-container .map iframe {
    height: 45vw;
  }
}
/*# sourceMappingURL=contact.css.map */