* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title h2 {
  color: #ff6600;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
}

.title span {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
}

#contact-us .contact-us-container {
  padding: 5rem 10rem;
  text-align: center;
}

#contact-us .contact-us-container .title span {
  font-size: 2.5rem;
  font-weight: 400;
}

#contact-us .contact-us-container .content {
  font-size: 1.3rem;
}

#contact-us .contact-us-container .content p {
  font-weight: 300;
  margin: 2rem 0;
}

#contact-us .contact-us-container .content .info-input {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#contact-us .contact-us-container .content .info-input input {
  height: 4rem;
}

#contact-us .contact-us-container .content input {
  border-radius: 0.6rem;
  background-color: #f7f7f7;
  border: none;
  padding-left: 1rem;
}

#contact-us .contact-us-container .content .message-input {
  margin-top: 1rem;
}

#contact-us .contact-us-container .content .message-input input {
  height: 10rem;
  width: 100%;
}

#contact-us .contact-us-container button {
  padding: 0.8rem 2.5rem;
  background-color: #ff6600;
  color: white;
  border-radius: 0.6rem;
  border: none;
  position: absolute;
  right: 10rem;
  margin-top: 1rem;
}

#contact-us .contact-us-container button:hover {
  background-color: #ffc800;
  transition: all 0.4s;
}

#find-us .find-us-container {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
}

#find-us .find-us-container .content {
  width: 30%;
}

#find-us .find-us-container .content .info {
  margin-top: 2rem;
  padding-right: 2rem;
}

#find-us .find-us-container .content .info .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#find-us .find-us-container .content .info .item i {
  color: #ff6600;
  font-size: 1.5rem;
}

#find-us .find-us-container .content .info .item .detail {
  margin-left: 1rem;
}

#find-us .find-us-container .content .info .item .detail span {
  font-size: 1.3rem;
  font-weight: 400;
}

#find-us .find-us-container .content .info .item .detail p {
  font-size: 1.2rem;
  font-weight: 300;
}

#find-us .find-us-container .map {
  width: 70%;
}

#find-us .find-us-container .map iframe {
  width: 100%;
  height: 25vw;
}

#footer {
  background-color: black;
  line-height: 200%;
  font-size: 1.1rem;
  color: #b1b1b1;
}

#footer .container {
  max-width: 100% !important;
  padding: 5rem 10rem;
}

#footer a {
  color: #b1b1b1;
}

#footer a:hover {
  color: #ff6600;
  text-decoration: none;
}

#footer .infor .item {
  margin: 2rem 0;
}

#footer .infor h2 {
  color: white;
}

#footer .infor .icon i {
  padding: 0.8rem;
  color: #ff6600;
  border-radius: 10px;
  background-color: white;
  font-size: 1.2rem;
}

#footer .infor .list {
  display: flex;
  flex-direction: column;
}

#footer .infor .subscribe input {
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

#footer .infor .subscribe button {
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  background-color: #ff6600;
  color: white;
}

#footer .copyright {
  padding: 2rem 0;
}

#footer .copyright .nav ul {
  display: flex;
  flex-direction: row;
}

#footer .copyright .nav ul li {
  margin-right: 1rem;
  list-style-type: none;
}
/*# sourceMappingURL=contact.css.map */