@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --my-color: #fff;
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --bg-color: #fff;
  --bg-light: #e7e3ff0d;
  --bg-grey: #f7f7f7;
  --heading-color: #232121;
  --font-color: #161c2db3;
  --border-color: transparent;
  --border-color-light: #eee;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  --border-radius: 0.375rem;
  --border-radius-full: 2.1875rem;
  --orange: #ff6600;
  --orange-light: #ffcc00;
  --gray-light: #f7f7f7;
  --gray: #858585;
  --white: #fff;
  --black: #000;
  --padding-xl: 5rem 10rem;
  --padding-lg: 5rem 5rem;
  --padding-md: 4rem 2rem;
  --padding-sm: 4rem 1rem;
}

[theme="dark"]:root {
  --my-color: #232220;
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --bg-color: #232220;
  --bg-light: #2e2e2e;
  --bg-grey: #262626;
  --heading-color: #ffffff;
  --font-color: #ffffff;
  --border-color: transparent;
  --border-color-light: rgb(255 255 255 / 10%);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  --border-radius: 0.375rem;
  --border-radius-full: 2.1875rem;
  --orange: #ff6600;
  --orange-light: #ffcc00;
  --gray-light: #2e2e2e;
  --gray: #e9e9e9;
  --white: #232220;
  --black: rgb(255, 255, 255);
  --padding-xl: 5rem 10rem;
  --padding-lg: 5rem 5rem;
  --padding-md: 4rem 2rem;
  --padding-sm: 4rem 1rem;
}

section {
  display: block;
}

.sidebarMini.is-opened {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch *,
.sidebarMini {
  position: fixed;
  top: 65%;
  right: 0;
  z-index: 500;
  width: 200px;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  background-color: var(--primary-color);
  -webkit-transition: .5s;
  transition: .5s;
  border-left: 1px solid var(--primary-color);
  color: #fff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content,
.sidebarMini .sidebarMini__content {
  width: 170px;
  padding: 20px;
  text-align: center;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .d-flex,
.sidebarMini .sidebarMini__content .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content h2,
.sidebarMini .sidebarMini__content h2 {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch,
.sidebarMini .sidebarMini__content .switch {
  position: relative;
  display: inline-block;
  width: 3.7rem;
  height: 1.8rem;
  margin: 0 0.3rem;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input,
.sidebarMini .sidebarMini__content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch .slider,
.sidebarMini .sidebarMini__content .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch .slider:before,
.sidebarMini .sidebarMini__content .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:checked + .slider,
.sidebarMini .sidebarMini__content .switch input:checked + .slider {
  background-color: #ffffff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:focus + .slider,
.sidebarMini .sidebarMini__content .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #ffffff;
          box-shadow: 0 0 1px #ffffff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:checked + .slider:before,
.sidebarMini .sidebarMini__content .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__button,
.sidebarMini .sidebarMini__button {
  background: var(--primary-color);
  padding: 5px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
}

#backToTop:hover {
  cursor: pointer;
  background-color: #333;
}

#backToTop:active {
  background-color: #555;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop {
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

#backToTop i {
  color: white;
}

.title-subhny {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 75rem;
  }
}

@media screen and (min-width: 992px) {
  .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .px-lg-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .py-lg-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 2rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media screen and (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 576px) {
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.text-left {
  text-align: left !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.align-self {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Quicksand", sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title h2 {
  color: var(--orange);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
}

.title span {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.title h2 {
  color: var(--orange);
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Pacifico', cursive;
}

.title span {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  color: var(--black);
}

.my-btn {
  padding: 0.8rem 2.5rem;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.6rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.my-btn:hover {
  background-color: var(--orange-light);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#contact-us {
  background-color: var(--white);
}

#contact-us .contact-us-container {
  padding: var(--padding-xl);
  text-align: center;
}

#contact-us .contact-us-container .content {
  font-size: 1.3rem;
}

#contact-us .contact-us-container .content p {
  font-weight: 300;
  margin: 2rem 0;
}

#contact-us .contact-us-container .content .info-input {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#contact-us .contact-us-container .content .info-input input {
  height: 4rem;
  font-size: 1rem;
}

#contact-us .contact-us-container .content input {
  border-radius: 0.6rem;
  background-color: var(--gray-light);
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
}

#contact-us .contact-us-container .content .message-input {
  margin-top: 1rem;
}

#contact-us .contact-us-container .content .message-input input {
  height: 10rem;
  width: 100%;
}

#contact-us .contact-us-container button {
  position: absolute;
  right: 10rem;
  margin-top: 1rem;
  color: #fff;
}

@media screen and (max-width: 992px) {
  #contact-us .contact-us-container {
    padding: var(--padding-lg);
  }
}

@media screen and (max-width: 768px) {
  #contact-us .contact-us-container {
    padding: var(--padding-md);
  }
  #contact-us .contact-us-container .content .info-input {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #contact-us .contact-us-container {
    padding: var(--padding-sm);
  }
  #contact-us .contact-us-container .content .info-input {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #contact-us .contact-us-container button {
    position: absolute;
    right: 10rem;
    margin-top: 1rem;
  }
}

#find-us {
  background-color: var(--gray-light);
}

#find-us .find-us-container {
  padding: var(--padding-xl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#find-us .find-us-container .title {
  text-align: left;
}

#find-us .find-us-container .content {
  width: 30%;
}

#find-us .find-us-container .content .info {
  margin-top: 2rem;
  padding-right: 2rem;
}

#find-us .find-us-container .content .info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

#find-us .find-us-container .content .info .item i {
  color: var(--orange);
  font-size: 1.5rem;
}

#find-us .find-us-container .content .info .item .detail {
  margin-left: 1rem;
}

#find-us .find-us-container .content .info .item .detail span {
  font-size: 1.2rem;
  font-weight: 400;
}

#find-us .find-us-container .content .info .item .detail p {
  font-size: 1.1rem;
  font-weight: 400;
}

#find-us .find-us-container .content .info .item .detail p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#find-us .find-us-container .map {
  width: 70%;
  height: 100%;
  border: 0.7rem solid var(--gray-light);
}

#find-us .find-us-container .map iframe {
  width: 100%;
  height: 25vw;
}

@media screen and (max-width: 576px) {
  #find-us .find-us-container {
    padding: var(--padding-sm);
  }
}

@media screen and (max-width: 768px) {
  #find-us .find-us-container {
    padding: var(--padding-md);
    display: block;
  }
  #find-us .find-us-container .content {
    width: 100%;
  }
  #find-us .find-us-container .map {
    width: 100%;
    height: 65vw;
    border: 0.1rem solid var(--gray-light);
  }
  #find-us .find-us-container .map iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  #find-us .find-us-container {
    padding: var(--padding-sm);
    display: block;
  }
  #find-us .find-us-container .content {
    width: 100%;
  }
  #find-us .find-us-container .map iframe {
    height: 45vw;
  }
}
/*# sourceMappingURL=contact.css.map */