:root {
  --my-color: #fff;
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --bg--color: #fff;
  --bg-light: #e7e3ff0d;
  --bg-grey: #f7f7f7;
  --heading-color: #232121;
  --font-color: #161c2db3;
  --border-color: transparent;
  --border-color-light: #eee;
}

[theme="dark"]:root {
  --my-color: #000;
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --bg--color: rgb(0, 0, 0);
  --bg-light: #181818;
  --bg-grey: #262626;
  --heading-color: #ffffff;
  --font-color: #ffffff;
  --border-color: transparent;
  --border-color-light: rgb(0, 0, 0);
}

section {
  display: block;
}

.sidebarMini.is-opened {
  transform: translateX(60%);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch *,
.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  background-color: #2196f3;
  transition: .5s;
  border-left: 1px solid #2196f3;
  color: #fff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content,
.sidebarMini .sidebarMini__content {
  width: 170px;
  padding: 20px;
  text-align: center;
  /* Hide default HTML checkbox */
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .d-flex,
.sidebarMini .sidebarMini__content .d-flex {
  display: flex !important;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content h2,
.sidebarMini .sidebarMini__content h2 {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch,
.sidebarMini .sidebarMini__content .switch {
  position: relative;
  display: inline-block;
  width: 3.7rem;
  height: 1.8rem;
  margin: 0 0.3rem;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input,
.sidebarMini .sidebarMini__content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch .slider,
.sidebarMini .sidebarMini__content .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: .4s;
  border-radius: 34px;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch .slider:before,
.sidebarMini .sidebarMini__content .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 4px;
  bottom: 4px;
  background-color: #2196f3;
  transition: .4s;
  border-radius: 50%;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:checked + .slider,
.sidebarMini .sidebarMini__content .switch input:checked + .slider {
  background-color: #ffffff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:focus + .slider,
.sidebarMini .sidebarMini__content .switch input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:checked + .slider:before,
.sidebarMini .sidebarMini__content .switch input:checked + .slider:before {
  transform: translateX(26px);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__button,
.sidebarMini .sidebarMini__button {
  background: #2196f3;
  padding: 5px 20px;
  border: 1px solid #2196f3;
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  transform: translateX(-100%);
  transition: .5s;
  color: #fff;
}

#backToTop:hover {
  cursor: pointer;
  background-color: #333;
}

#backToTop:active {
  background-color: #555;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop {
  transition: background-color .3s, opacity .5s, visibility .5s;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  background-color: #ff6600;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: all 0.5s;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

#backToTop i {
  color: white;
}

.title-subhny {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 75rem;
  }
}

@media screen and (min-width: 992px) {
  .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .px-lg-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .py-lg-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 2rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media screen and (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 576px) {
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.text-left {
  text-align: left !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.align-self {
  align-self: center;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #161c2db3;
  font-family: "Quicksand", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: "Quicksand", sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

section {
  display: block;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay .closebtn {
  font-size: 1rem;
  font-weight: 900;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 0.375rem;
}

.overlay a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 1.875rem;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff6600;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1.25rem;
  }
  .overlay .closebtn {
    font-size: 2.5rem;
    top: 0.9375rem;
    right: 2.1875rem;
  }
}

@media screen and (max-width: 576px) {
  .overlay .overlay-content {
    margin-left: -3rem !important;
  }
  .overlay .closebtn {
    right: 10rem !important;
  }
}
/*# sourceMappingURL=curtainmenu.css.map */