.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay .closebtn {
  font-size: 1rem;
  font-weight: 900;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 0.375rem;
}

.overlay a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 1.875rem;
}

.overlay a:hover,
.overlay a:focus {
  color: #ff6600;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1.25rem;
  }
  .overlay .closebtn {
    font-size: 2.5rem;
    top: 0.9375rem;
    right: 2.1875rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#header {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, #05030033), url(../img/middle-banner2.jpg);
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  height: 22vw;
}

#header .header {
  background-color: rgba(0, 0, 0, 0.267);
  width: 100% !important;
  height: 100%;
}

#header .header .header-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1.25rem;
  padding: 2.5rem 0 1.25rem 0;
  align-items: center;
}

#header .header .header-container a.logo-brand {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
}

#header .header .header-container .menu-right-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  align-items: center;
}

#header .header .header-container .menu-right-container .search-bar {
  display: flex;
}

#header .header .header-container .menu-right-container .search-bar .search {
  position: relative;
}

#header .header .header-container .menu-right-container .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 0.625rem 3.125rem 0.625rem 1.25rem;
  height: 2.8125rem;
  font-size: 1rem;
  color: #161c2db3;
  border: none;
  font-weight: 400;
  border-radius: 0.375rem;
  position: relative;
  right: 0;
  background: #fff;
  outline: 0;
  border: 1px solid #fff;
}

#header .header .header-container .menu-right-container .search-bar .search .search__icon {
  position: absolute;
  right: 1.25rem;
  font-size: 0.9375rem;
  top: 0.9375rem;
  cursor: pointer;
}

#header .header .header-container .menu-right-container .menu-switch-mode {
  text-align: center;
}

#header .header .header-container .menu-right-container .menu-switch-mode .navigation {
  display: block;
}

#header .header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper {
  display: flex;
  align-items: center;
}

#header .header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

#header .header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch input {
  display: none;
}

#header .header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch .mode-container {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.0625rem 0;
}

#header .header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch .mode-container .moon-icon {
  display: block;
  color: #eee;
  font-size: 1.4rem;
}

#header .header .header-container .menu-right-container .nav-menu {
  text-align: center;
}

#header .header .header-container .menu-right-container .nav-menu button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95rem;
  padding: 0 0.5rem;
}

#header .header .banner-info {
  margin-top: 5rem;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

#header .header .banner-info span:first-child {
  color: #ff6600;
  cursor: pointer;
}
/*# sourceMappingURL=header.css.map */