:root {
  --bg-color: #fff;
  --bg-light: #8273fc0d;
  --bg-grey: #f7f7f7;
  --heading-color: #232121;
  --font-color: #161c2db3;
}

[data-theme="dark"] {
  --bg-color: rgb(0, 0, 0);
  --bg-light: #000000;
  --bg-grey: #373232;
  --heading-color: #d9d9d9;
  --font-color: #ffffff;
}

html {
  font-size: 16px;
}

section {
  display: block;
}

.sidebarMini.is-opened {
  transform: translateX(60%);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch *,
.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  background-color: #2196f3;
  transition: .5s;
  border-left: 1px solid #2196f3;
  color: #fff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content,
.sidebarMini .sidebarMini__content {
  width: 170px;
  padding: 20px;
  text-align: center;
  /* Hide default HTML checkbox */
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .d-flex,
.sidebarMini .sidebarMini__content .d-flex {
  display: flex !important;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content h2,
.sidebarMini .sidebarMini__content h2 {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch,
.sidebarMini .sidebarMini__content .switch {
  position: relative;
  display: inline-block;
  width: 3.7rem;
  height: 1.8rem;
  margin: 0 0.3rem;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input,
.sidebarMini .sidebarMini__content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch .slider,
.sidebarMini .sidebarMini__content .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: .4s;
  border-radius: 34px;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch .slider:before,
.sidebarMini .sidebarMini__content .switch .slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 4px;
  bottom: 4px;
  background-color: #2196f3;
  transition: .4s;
  border-radius: 50%;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:checked + .slider,
.sidebarMini .sidebarMini__content .switch input:checked + .slider {
  background-color: #ffffff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:focus + .slider,
.sidebarMini .sidebarMini__content .switch input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__content .switch input:checked + .slider:before,
.sidebarMini .sidebarMini__content .switch input:checked + .slider:before {
  transform: translateX(26px);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch * .sidebarMini__button,
.sidebarMini .sidebarMini__button {
  background: #2196f3;
  padding: 5px 20px;
  border: 1px solid #2196f3;
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  transform: translateX(-100%);
  transition: .5s;
  color: #fff;
}

#backToTop:hover {
  cursor: pointer;
  background-color: #333;
}

#backToTop:active {
  background-color: #555;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

#backToTop {
  transition: background-color .3s, opacity .5s, visibility .5s;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  background-color: #ff6600;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: all 0.5s;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

#backToTop i {
  color: white;
}

.title-subhny {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 75rem;
  }
}

@media screen and (min-width: 992px) {
  .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .px-lg-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .py-lg-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 2rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media screen and (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 576px) {
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.text-left {
  text-align: left !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.align-self {
  align-self: center;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Quicksand", sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 16px;
}

div {
  display: block;
}

.header {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, #05030033), url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 43.75rem;
}

.header .header-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1.25rem;
  padding: 2.5rem 0 1.25rem 0;
  align-items: center;
}

.header .header-container a.logo-brand {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--bg-color);
}

.header .header-container .menu-right-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  align-items: center;
}

.header .header-container .menu-right-container .search-bar {
  display: flex;
}

.header .header-container .menu-right-container .search-bar .search {
  position: relative;
}

.header .header-container .menu-right-container .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 0.625rem 3.125rem 0.625rem 1.25rem;
  height: 2.8125rem;
  font-size: 1rem;
  color: var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: 0.375rem;
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}

.header .header-container .menu-right-container .search-bar .search .search__icon {
  position: absolute;
  right: 1.25rem;
  font-size: 0.9375rem;
  top: 0.9375rem;
  cursor: pointer;
}

.header .header-container .menu-right-container .menu-switch-mode {
  text-align: center;
}

.header .header-container .menu-right-container .menu-switch-mode .navigation {
  display: block;
}

.header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch input {
  display: none;
}

.header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch .mode-container {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.0625rem 0;
}

.header .header-container .menu-right-container .menu-switch-mode .navigation .theme-switch-wrapper .theme-switch .mode-container .moon-icon {
  display: block;
  color: var(--border-color-light);
  font-size: 1.4rem;
}

.header .header-container .menu-right-container .nav-menu {
  text-align: center;
}

.header .header-container .menu-right-container .nav-menu button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: var(--light-color);
  font-size: 1.95rem;
  padding: 0 0.5rem;
}

.header .banner-info {
  max-width: 37.5rem;
  text-align: left;
  margin-top: 6.25rem;
}

.header .banner-info h3 {
  font-size: 3.375rem;
  line-height: 4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--bg-color);
  margin-bottom: 1.5rem;
  font-family: "Quicksand", sans-serif;
}

.header .banner-info p {
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--bg-color);
  margin-bottom: 3rem;
}

.header .banner-info a.btn-white {
  background: transparent;
  border: 0.125rem solid #fff;
  color: #fff;
  padding: 0.75rem 2.8125rem;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 0.375rem;
}

.header .banner-info a.btn-white:hover {
  background-color: var(--bg-color);
  color: #ff6600;
}

.about-us .row .col-lg-7.content-1-right p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

@media screen and (min-width: 992px) {
  .about-us .row .pl-lg-5,
  .about-us .row .px-lg-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

.portfolio {
  background: #ff6600;
}

.portfolio p {
  color: --primary-light-color;
}

.portfolio .container-fluid {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

.portfolio .container-fluid .row {
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-0 .agent-block-image {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 37.5rem;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-0 .agent-block-image::before {
  content: "";
  background: #100f1375;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .title-subhny.two {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
  color: var(--bg-color);
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .title-w3l.two {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Quicksand", sans-serif;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.875rem;
  grid-gap: 1.875rem;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .subscribe-cat .icon {
  width: 4.375rem;
  height: 4.375rem;
  text-align: center;
  line-height: 4.375rem;
  border-radius: 0.375rem;
  transition: 0.4s ease-in-out;
  background: var(--bg-color);
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .subscribe-cat .icon span.fa {
  color: #ff6600;
  font-size: 1.5625rem;
  line-height: 4.375rem;
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .subscribe-cat .icon:hover {
  filter: brightness(200%);
}

.portfolio .container-fluid .row .col-lg-6.px-lg-4.py-lg-3 .agent-block-image-inf .subscribe-cat .subscribe-cat-link {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
  text-decoration: none;
}

.category {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background: var(--bg-grey);
}

.category .header-title {
  text-align: center;
}

.category .header-title .title-subhny {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.category .header-title .title-w3l {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.category .category-grids {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background-color: var(--bg-grey);
}

.category .category-grids .col-lg-4 {
  position: relative;
}

.category .category-grids .col-lg-4 .gal-slide-img {
  position: relative;
}

.category .category-grids .col-lg-4 .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 0.375rem;
}

.category .category-grids .col-lg-4 .gal-slide-img .filter-layout {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, #00000000 0, #00000087 69%, #000000c2 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 0.375rem;
}

.category .category-grids .col-lg-4 .gal-slide-info {
  width: 95%;
  position: absolute;
  left: auto;
  bottom: 0;
  opacity: 1;
  transition: all 0.4s;
  padding: 3rem;
  transform: translate3d(0, 10%, 0);
}

.category .category-grids .col-lg-4 .gal-slide-info h4 {
  color: var(--bg-color);
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.category .category-grids .col-lg-4 .gal-slide-info h6 {
  font-weight: 600;
  color: #ffc600;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.category .category-grids .col-lg-4 :hover {
  transition: all 0.4s;
  filter: brightness(105%) grayscale(10%);
}

.service {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  position: relative;
}

.service .container {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.service .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.service .container .row .col-lg-4 {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.service .container .row .col-lg-4 .box-wrap {
  padding: 2.5rem 2.5rem;
  transition: all 0.5s ease 0s;
  border-radius: 0.5rem;
  box-shadow: 0 1.5625rem 6.125rem 0 #00000008;
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid #eee;
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.875rem;
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon {
  width: 4.375rem;
  height: 4.375rem;
  text-align: center;
  line-height: 4.375rem;
  border-radius: 0.375rem;
  transition: 0.4s ease-in-out;
  background: var(--bg-light);
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon span.fa {
  color: #ff6600;
  font-size: 1.5625rem;
  line-height: 4.375rem;
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon:hover {
  background: #ff6600;
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon:hover span.fa {
  color: var(--bg-color);
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid .info h4 a {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.3125rem;
  margin-bottom: 0px;
  display: block;
  color: var(--heading-color);
}

.service .container .row .col-lg-4 .box-wrap .box-wrap-grid .info h4 a:hover {
  color: #ff6600;
}

.service .container .row .col-lg-4 .box-wrap p:nth-last-child() {
  margin-top: 1rem;
}

.middle {
  background: url(../img/middle-banner2.jpg) center no-repeat;
  position: relative;
  background-size: cover;
  z-index: 1;
}

.middle .container .welcome-left {
  text-align: center;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  max-width: 43.75rem;
  margin: 0 auto;
}

.middle .container .welcome-left h3 {
  font-size: 2.8125rem;
  line-height: 3.4375rem;
  font-weight: 600;
  color: var(--bg-color);
  max-width: 50rem;
}

.middle .container .welcome-left .middle-buttons {
  margin-top: 3rem;
  width: 100%;
}

.middle .container .welcome-left .middle-buttons .btn-read {
  display: flex;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 0.375rem;
  border: 2px solid transparent;
  background: transparent;
  border: 0.125rem solid #fff;
  color: #fff;
}

.middle .container .welcome-left .middle-buttons .btn-read:hover {
  background: var(--bg-color);
  color: #ff6600;
}

.middle .container .welcome-left .middle-buttons .btn-contact {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 0.375rem;
  border: 2px solid transparent;
  color: var(--bg-color);
  background-color: #ff6600;
}

.middle .container .welcome-left .middle-buttons .btn-contact i {
  width: 12px;
  height: 12px;
}

.middle .container .welcome-left .middle-buttons .btn-contact:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 102, 0, 0.8);
}

.middle .container .welcome-left .middle-buttons span {
  margin-left: 1rem;
}

.middle .middle-layout {
  background: #100f13a8;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.stats {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  margin-top: -4.375rem;
  z-index: 10;
  position: relative;
}

.stats .stats-container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.stats .stats-container .row .counter {
  background-color: var(--bg-color);
  box-shadow: #0101010d 1px 1px 5px 0px;
  padding: 2.5rem 1.25rem;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.3s ease;
}

.stats .stats-container .row .counter span.fa {
  background: #ff6600;
  font-size: 1.625rem;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  line-height: 4.25rem;
  color: var(--bg-color);
  text-align: center;
}

.stats .stats-container .row .counter .timer {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 1rem;
}

.stats .stats-container .row .counter p.count-text {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 600;
  font-size: 1.1rem;
}

.stats .stats-container .row .counter:hover {
  transform: translateY(-0.25rem);
  box-shadow: #2e293314 0px 2px 4px, #473f4f29 0px 5px 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.video .new-block {
  background: var(--bg-color);
}

.video .new-block .container .history-info {
  position: relative;
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 31.25rem;
  border-radius: 0.375rem;
}

.video .new-block .container .history-info .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 2.5rem);
}

.video .new-block .container .history-info .play-view span.video-play-icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  font-size: 26px;
  padding-left: 0.4rem;
  text-align: center;
  line-height: 4.75rem;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  border: transparent;
  background: var(--bg-color);
}

.video .new-block .container .history-info .play-view span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: var(--bg-color);
}

.video .new-block .container .history-info .play-view span.video-play-icon::after {
  display: inline-block;
  position: absolute;
  z-index: -10;
  width: 120%;
  height: 120%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--bg-color);
  animation: anime 2s ease-out 1s infinite;
}

.video .new-block .container .history-info .play-view span.video-play-icon::before {
  display: inline-block;
  position: absolute;
  z-index: -10;
  width: 120%;
  height: 120%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--bg-color);
  animation: anime 2s ease-out infinite;
}

.video .new-block .container .history-info::before {
  content: "";
  background: #100f1399;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0.375rem;
}

.video #small-dialog {
  max-width: 46.875rem;
  margin: 2.5rem auto;
  position: relative;
}

.video #small-dialog iframe {
  width: 100%;
  height: 26.25rem;
  display: block;
  border-radius: 0.625rem;
}

.video .modal-content {
  background-color: transparent;
  border: none;
}

.blog {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  background: var(--bg-grey);
}

.blog .header-title {
  text-align: center;
}

.blog .header-title h6 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.blog .header-title h3 {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.blog .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.blog .row .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.blog .row .card .card-header {
  border: none;
}

.blog .row .card .card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.blog .row .card .card-header img {
  border-radius: 0.375rem;
}

.blog .row .card .card-header .post-pos {
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
}

.blog .row .card .card-header .post-pos a.receipe {
  background: #ff6600;
  color: var(--bg-color);
  padding: 0.1875rem 1.25rem;
  border-radius: 2.1875rem;
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
  display: inline-block;
  letter-spacing: 0.05rem;
}

.blog .row .card .card-header .post-pos .meta-info {
  opacity: 1;
  color: var(--bg-color);
  margin-left: 0.625rem;
  font-size: 0.9375rem;
  letter-spacing: 0.02rem;
}

.blog .row .card .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.blog .row .card .card-body a.blog-desc {
  display: block;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.blog .row .card .card-body .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blog .row .card .card-body .p-footer .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blog .row .card .card-body .p-footer .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02rem;
}

.blog .row .card .card-body .p-footer .p-meta-info a img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.blog .row .card .card-body .p-footer a.read {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}

.clients .midd {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.clients .midd .header-title {
  text-align: center;
}

.clients .midd .header-title h6 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.clients .midd .header-title h3 {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.clients .midd .item {
  text-align: center;
}

.clients .midd .item .testimonial-content {
  max-width: 43.75rem;
  margin: auto;
}

.clients .midd .item .testimonial-content .testimonial a.comment-img {
  left: 0rem;
  top: 0rem;
  width: 5.3125rem;
  height: 5.3125rem;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 1.25rem;
}

.clients .midd .item .testimonial-content .testimonial blockquote {
  margin: 0 0 1rem;
}

.clients .midd .item .testimonial-content .testimonial blockquote q {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--heading-color);
  font-weight: 600;
}

.clients .midd .item .testimonial-content .testimonial blockquote q::before {
  font-size: 3.125rem;
  color: #ff6600;
  display: block;
  font-family: initial;
}

.clients .midd .item .testimonial-content .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.clients .midd .item .testimonial-content .testimonial .people-info p.indentity {
  font-size: 1.125rem;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 0.25rem;
}

@media screen and (max-width: 576px) {
  .header {
    min-height: 37.5rem;
    margin-top: 3.75rem;
  }
  .header .search-bar {
    display: none !important;
  }
  .portfolio .row .col-lg-6.px-lg-0 .agent-block-image {
    min-height: 12.5rem !important;
  }
  .video .history-info {
    min-height: 21.875rem !important;
  }
  .title-w3l,
  .title-w3l.two {
    font-size: 1.875rem !important;
    line-height: 2.375rem !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .header .banner-info h3 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

@media screen and (max-width: 992px) {
  .header .banner-info h3 {
    font-size: 2.75rem;
    line-height: 3.3125rem;
  }
  .portfolio .row .col-lg-6.px-lg-0 .agent-block-image {
    min-height: 20rem !important;
  }
  .category .category-grids .gal-slide-img {
    padding-top: 1rem !important;
  }
  .category .category-grids .gal-slide-info {
    padding: 1.5rem !important;
  }
  .category .category-grids .gal-slide-info h4 {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
  .category .category-grids .gal-slide-info span {
    font-size: 1rem !important;
  }
  .service .container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .middle .welcome-left h3 {
    font-size: 2.1875rem !important;
    line-height: 2.5rem !important;
  }
  .stats {
    margin-top: 0 !important;
  }
  p {
    font-size: 1rem !important;
    line-height: 1.625rem !important;
  }
  .title-subhny {
    font-size: 1rem !important;
  }
  .row {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .title-w3l,
  .title-w3l.two {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .category .category-grids {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .category .category-grids .gal-slide-img {
    padding-top: 1.5rem !important;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #ffffff40, 0 0 0 10px #ffffff40, 0 0 0 20px #ffffff40;
  }
  100% {
    box-shadow: 0 0 0 10px #ffffff40, 0 0 0 20px #ffffff40, 0 0 0 40px #3264f500;
  }
}
/*# sourceMappingURL=home.css.map */