html {
  font-size: 16px;
}

section {
  display: block;
}

.title-subhny {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.0625rem;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 2.375rem;
  line-height: 3rem;
  font-weight: 600;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 75rem;
  }
}

@media screen and (min-width: 992px) {
  .px-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .px-lg-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .py-lg-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 2rem !important;
  }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important;
  }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media screen and (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 576px) {
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.text-left {
  text-align: left !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.align-self {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #161c2db3;
  font-family: "Quicksand", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: "Quicksand", sans-serif;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-services {
  position: relative;
}

.home-services .container .row .col-lg-4 {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.home-services .container .row .col-lg-4 .box-wrap {
  padding: 2.5rem 2.5rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1.5625rem 6.125rem 0 #00000008;
          box-shadow: 0 1.5625rem 6.125rem 0 #00000008;
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 1.875rem;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon {
  width: 4.375rem;
  height: 4.375rem;
  text-align: center;
  line-height: 4.375rem;
  border-radius: 0.375rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background: #8273fc0d;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon span.fa {
  color: #ff6600;
  font-size: 1.5625rem;
  line-height: 4.375rem;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon:hover {
  background: #ff6600;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid .icon:hover span.fa {
  color: #fff;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid .info h4 a {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.3125rem;
  margin-bottom: 0px;
  display: block;
  color: #232121;
}

.home-services .container .row .col-lg-4 .box-wrap .box-wrap-grid .info h4 a:hover {
  color: #ff6600;
}

.home-services .container .row .col-lg-4 .box-wrap p:nth-last-child() {
  margin-top: 1rem;
}

.middle {
  background: url(../img/middle-banner2.jpg) center no-repeat;
  position: relative;
  background-size: cover;
  z-index: 1;
}

.middle .container .welcome-left {
  text-align: center;
  max-width: 43.75rem;
  margin: 0 auto;
}

.middle .container .welcome-left h3 {
  font-size: 2.8125rem;
  line-height: 3.4375rem;
  font-weight: 600;
  color: #fff;
  max-width: 50rem;
}

.middle .container .welcome-left .middle-buttons {
  margin-top: 3rem;
  width: 100%;
}

.middle .container .welcome-left .middle-buttons .btn-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border-radius: 0.375rem;
  border: 2px solid transparent;
  background: transparent;
  border: 0.125rem solid #fff;
  color: #fff;
  margin-right: 1rem !important;
}

.middle .container .welcome-left .middle-buttons .btn-read:hover {
  background: #fff;
  color: #ff6600;
}

.middle .container .welcome-left .middle-buttons .btn-contact {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border-radius: 0.375rem;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
}

.middle .container .welcome-left .middle-buttons .btn-contact i {
  width: 12px;
  height: 12px;
}

.middle .container .welcome-left .middle-buttons .btn-contact:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 102, 0, 0.8);
}

.middle .container .welcome-left .middle-buttons span {
  margin-left: 1rem;
}

.middle .middle-layout {
  background: #100f13a8;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.home-services {
  position: relative;
}

.home-services .col-lg-6 {
  padding-left: 1.25rem;
}

.home-services .menu-item .col-8 {
  padding-left: 0 !important;
}

.home-services .menu-item .col-4 {
  padding-right: 0 !important;
}

.home-services .menu-item .border-dot {
  width: 100%;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem dotted #bbb;
}

.home-services .menu-item .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.home-services .menu-item .menu-item-name h6 {
  font-size: 1.25rem;
  font-weight: 600;
}

.home-services .menu-item .menu-item-price h6 {
  font-weight: 600;
  font-size: 1.3em;
  color: #ff6600;
}

.home-services .menu-item .menu-item-description p {
  margin-top: 0.625rem;
}

@media screen and (max-width: 576px) {
  .middle .welcome-left h3 {
    font-size: 2.1875rem !important;
    line-height: 2.5rem !important;
  }
  .middle .welcome-left h3 .middle-buttons {
    margin-top: 2rem !important;
    width: 100%;
  }
  .title-w3l,
  .title-w3l.two {
    font-size: 1.875rem !important;
    line-height: 2.375rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 992px) {
  .middle .welcome-left h3 {
    font-size: 2.5rem !important;
    line-height: 3.125rem !important;
  }
  .middle .welcome-left h3 .middle-buttons {
    margin-top: 2rem !important;
    width: 100%;
  }
  .title-w3l,
  .title-w3l.two {
    font-size: 2rem !important;
    line-height: 2.5rem;
  }
}
/*# sourceMappingURL=services.css.map */