:root {
    --my-color: #fff;
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --bg-color: #fff;
    --bg-light: #e7e3ff0d;
    --bg-grey: #f7f7f7;
    --heading-color: #232121;
    --font-color: #161c2db3;
    --border-color: transparent;
    --border-color-light: #eee;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    //Border
    --border-radius: 0.375rem;
    --border-radius-full: 2.1875rem;
}

[theme="dark"]:root {
    --my-color: #000;
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --bg-color: rgb(0, 0, 0);
    --bg-light: #181818;
    --bg-grey: #262626;
    --heading-color: #ffffff;
    --font-color: #ffffff;
    --border-color: transparent;
    --border-color-light: rgb(0, 0, 0);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    //Border
    --border-radius: 0.375rem;
    --border-radius-full: 2.1875rem;
}