@import './theme';
//color
// var(--primary-color: #ff6600;
// var(--secondary-color: #ffc600;
// var(--bg-color: #fff;
// var(--bg-light: #8273fc0d;
// var(--bg-grey: #f7f7f7;
// var(--heading-color: #232121;
// var(--font-color: #161c2db3;
// var(--border-color: transparent;
// var(--border-color-light: #eee;
section {
    display: block;
}

.sidebarMini.is-opened {
    transform: translateX(0px);
}

.sidebarMini .sidebarMini .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch .sidebarMini .sidebarMini__content .switch *,
.sidebarMini {
    position: fixed;
    top: 65%;
    right: 0;
    z-index: 500;
    width: 200px;
    transform: translateX(200px);
    background-color: var(--primary-color);
    // transform: translateX(100%);
    transition: .5s;
    border-left: 1px solid var(--primary-color);
    color: #fff;
    .sidebarMini__content {
        width: 170px;
        padding: 20px;
        text-align: center;
        .d-flex {
            display: flex!important;
        }
        h2 {
            font-size: 1rem;
            color: white;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 3.7rem;
            height: 1.8rem;
            margin: 0 0.3rem;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ffffff;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 1.3rem;
                width: 1.3rem;
                left: 4px;
                bottom: 4px;
                background-color: var(--primary-color);
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
            input:checked+.slider {
                background-color: #ffffff;
            }
            input:focus+.slider {
                box-shadow: 0 0 1px #ffffff;
            }
            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
    }
    .sidebarMini__button {
        background: var(--primary-color);
        padding: 5px 20px;
        border: 1px solid var(--primary-color);
        border-radius: 8px 0 0 8px;
        letter-spacing: 0.015rem;
        position: fixed;
        transform: translateX(-100%);
        transition: .5s;
        color: #fff;
    }
}

#backToTop:hover {
    cursor: pointer;
    background-color: #333;
}

#backToTop:active {
    background-color: #555;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop {
    transition: background-color .3s, opacity .5s, visibility .5s;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    i {
        color: white;
    }
    position: fixed;
    right:2rem;
    bottom: 2rem;
    transition: all 0.5s;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

@mixin title-subhny {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.0625rem;
    color: var(--primary-color);
    display: block;
    font-family: "Pacifico", cursive;
}

.title-subhny {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.0625rem;
    color: var(--primary-color);
    display: block;
    font-family: "Pacifico", cursive;
}

@mixin title-w3l {
    font-size: 2.375rem;
    line-height: 3rem;
    font-weight: 600;
}

.title-w3l {
    font-size: 2.375rem;
    line-height: 3rem;
    font-weight: 600;
}

@mixin container-fluid {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

@mixin text-center {
    text-align: center;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.py-3 {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

@mixin py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

@mixin py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

@mixin px-1 {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

@mixin row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

@mixin icon($bg) {
    width: 4.375rem;
    height: 4.375rem;
    @include text-center;
    line-height: 4.375rem;
    border-radius: var(--border-radius);
    transition: 0.4s ease-in-out;
    background: $bg;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

@mixin fa-icon {
    color: var(--primary-color);
    font-size: 1.5625rem;
    line-height: 4.375rem;
}

@mixin btn-white {
    background: transparent;
    border: 0.125rem solid #fff;
    color: #fff;
}

@mixin btn-style {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
}

@mixin btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 75rem;
    }
}

@media screen and (min-width: 992px) {
    .px-lg-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .pt-lg-0 {
        padding-top: 0 !important;
    }
    .px-lg-4 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .py-lg-3 {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }
    .pb-lg-0,
    .py-lg-0 {
        padding-bottom: 0 !important;
    }
    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important;
    }
    .pt-lg-2,
    .py-lg-2 {
        padding-top: 2rem !important;
    }
    .pt-lg-2,
    .py-lg-2 {
        padding-top: 0.5rem !important;
    }
    .pb-lg-4,
    .py-lg-4 {
        padding-bottom: 1.5rem !important;
    }
    .pl-lg-5,
    .px-lg-5 {
        padding-left: 3rem !important;
    }
    .pb-lg-5,
    .py-lg-5 {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }
    .pr-lg-5,
    .px-lg-5 {
        padding-right: 3rem !important;
    }
    .mr-lg-4,
    .mx-lg-4 {
        margin-right: 1.5rem !important;
    }
    .mb-lg-5,
    .my-lg-5 {
        margin-bottom: 3rem !important;
    }
}

@media screen and (min-width: 768px) {
    .p-md-5 {
        padding: 3rem !important;
    }
    .pb-md-5,
    .py-md-5 {
        padding-bottom: 3rem !important;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .pb-md-3,
    .py-md-3 {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }
    .mt-md-5,
    .my-md-5 {
        margin-top: 3rem !important;
    }
}

@media screen and (min-width: 576px) {
    .mt-sm-2,
    .my-sm-2 {
        margin-top: 0.5rem !important;
    }
}

.text-left {
    text-align: left !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.py-2 {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.align-self {
    align-self: center;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--font-color);
    font-family: "Quicksand", sans-serif;
}

img {
    vertical-align: middle;
    border-style: none;
}

.fa {
    display: inline-block;
    // font: normal normal normal 0.875rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--heading-color);
    font-family: "Quicksand", sans-serif;
}

body a,
button,
.btn {
    cursor: pointer !important;
}

section {
    display: block;
}