* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog {
    color: black;
    .container {
        width: 100%;
        background-color: gray;
        padding: 5rem 2rem;
        .title {
            p {
                color: orange;
                font-size: 1rem;
            }
            h1 {
                font-size: 2rem;
            }
        }
        .row {
            display: flex;
            flex-direction: row;
            .left-posts {
                width: 60%;
                .list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(3, 500px);
                    gap: 1rem;
                    .item {
                        margin-bottom: 5rem;
                        .img {
                            position: relative;
                            height: 80%;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            .info-img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                            }
                        }
                        .author {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            img {
                                width: 2rem;
                            }
                            .author-info {
                                margin-right: 1rem;
                            }
                            a {
                                text-decoration: none;
                                color: black;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            .right-posts {
                width: 40%;
                background-color: red;
            }
        }
    }
}