* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    h2 {
        color: #ff6600;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 600;
    }
    span {
        font-size: 2rem;
        font-weight: 500;
        color: black;
    }
}

#about-us {
    padding: 5rem 4rem;
    .about-us-container {
        display: flex;
        flex-direction: row;
        .content {
            font-size: 1.2rem;
            font-weight: 300;
            width: 60%;
        }
    }
}